{% extends "datarequests/base.html" %}

{% block subtitle %}{{ _('Edit Suggest Data Request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Suggest Data'), controller='ckanext.suggestdata.controllers.ui_controller:DataRequestsUI', action='index' %}</li>
  <li>{% link_for c.original_title|truncate(30), controller='ckanext.suggestdata.controllers.ui_controller:DataRequestsUI', action='show', id=c.datarequest.get('id') %}</li>
  <li class="active"><a href="">{{ _('Edit Suggest Data Request') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Edit Suggest Data Request') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/edit_datarequest_form.html", data=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, offering=c.offering %}
{% endblock %}

{% block page_header %}{% endblock %}
