{% extends "datarequests/base.html" %}

{% block subtitle %}{{ _('Create Suggest Data Request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Suggest Data'), controller='ckanext.suggestdata.controllers.ui_controller:DataRequestsUI', action='index' %}</li>
  <li class="active"><a href="">{{ _('Create Suggest Data') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Create Suggest Data') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/new_datarequest_form.html", data=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, offering=c.offering %}
{% endblock %}

{% block secondary_content_additional_info %}
  <p>To suggest a dataset, fill the form and specify a title and a description for your request. Please, be as clear as you can in order to ease the task of accomplishing your request. You can also specify an organization if your data request is closely related with it.
  </p>
{% endblock %}

{% block page_header %}{% endblock %}
