<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}
          <tr>
          <th scope="row" class="dataset-label">{{ _('Creator') }}</th>
          <td class="dataset-details">{{ datarequest.user['display_name'] if datarequest.user else _('None') }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('Department') }}</th>
          <td class="dataset-details">{{ datarequest.organization['display_name'] if datarequest.organization else _('None') }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('Created') }}</th>
          <td class="dataset-details" title="{{ datarequest.open_time }}">{{ h.time_ago_from_timestamp(datarequest.open_time) }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('Closed') }}</th>
          <td class="dataset-details" title="{{ datarequest.close_time }}">{{ h.time_ago_from_timestamp(datarequest.close_time) if datarequest.close_time else _('Not closed yet') }}</td>
        </tr>
        {% if datarequest.closed %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Accepted Dataset') }}</th>
            <td class="dataset-details">
            {% if datarequest.accepted_dataset %}
              {% link_for datarequest.accepted_dataset['title'], controller='package', action='read', id=datarequest.accepted_dataset.get('id') %}
            {% else %}
              {{ _('None') }}
            {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endblock %}
    </tbody>
  </table>
</section>
