{% import 'macros/form.html' as form %}

{% set title = data.get('title', '') %}
{% set description = data.get('description', '') %}
{% set organization_id = data.get('organization_id', h.get_request_param('organization')) %}
{# % set organizations_available = h.organizations_available('') % #}
{% set organizations_available = h.get_organization_list() %}

{# This provides a full page that renders a form for publishing a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
<form class="dataset-form form-horizontal" method="post" data-module="basic-form" action enctype="multipart/form-data">

  <input type="hidden" id="id" name="id" value="{{ data.get('id', '') }}" />

  {% block errors %}{{ form.errors(errors_summary) }}{% endblock %}

  {% block offering_title %}
    {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. Suggest Data Name'), value=title, error=errors['Title'], classes=['control-full', 'control-large'], is_required=true) }}
  {% endblock %}

  {% block offering_description %}
    {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('eg. Suggest Data description'), value=description, error=errors['Description']) }}
  {% endblock %}

  <div class="control-group">
    <label for="field-organizations" class="control-label">{{ _('Department') }}</label>
    <div class="controls">
      <select id="field-organizations" name="organization_id" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
           <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No department') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {% set selected_org = (organization.id == organization_id)  %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% block form_actions %}
    <div class="form-actions">
      {% block delete_button %}
        {% if h.check_access('datarequest_delete', {'id': data.get('id', '')}) and not data.state == 'deleted' %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this suggest data request?')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for controller='ckanext.suggestdata.controllers.ui_controller:DataRequestsUI', action='delete', id=data.get('id') %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Create Suggest Data') }}{% endblock %}</button>
    </div>
  {% endblock %}

</form>
